.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundGradient {
  position: absolute;
  z-index: -1;
  width: 59rem;
  height: 35.5rem;
  border-radius: 944px;
  background: linear-gradient(135deg, rgba(33, 83, 211, 0.4) 0%, rgba(39, 103, 123, 0.4) 100%);
  filter: blur(120px);
}
