
:root{
  --heading-green:#5DF5B5;
  --primary-fade:#9F9F9F;
  --primary-white: #FFF;
  --primary-blue:#416AFF;
  --nav-background:rgba(33, 33, 33, 0.70);
  --primary-black:#000;

}
@font-face {
  font-family: 'Roobert-Regular';
  src: url('../src/assets/font/Roobert-Regular.otf');
  font-display: fallback;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  font-family: 'Roobert-Regular', sans-serif;
  background-color: #0C0C0C;;
  height: 100%;
  overflow-x: hidden;
}
body {
  -webkit-font-smoothing: antialiased;
  color: var(--primary-white);
}



p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

